.food-contanier{
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 50px;
}
.foodBlock{
	margin-bottom: 10px;
	max-width: 100%;
}
.foodBlock:nth-child(1),
.foodBlock:nth-child(2){
	grid-column: span 3;
}
.foodBlock:nth-child(3),
.foodBlock:nth-child(4),
.foodBlock:nth-child(5){
	grid-column: span 2;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

.ImageInfo .content-wrapper img {
  width: 100%;
}